
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@RenderSection("Title");</title>
</head>
<body>
    @{
  
        
        string html = "";
   
    }


    <br />
    @Model.Content
    <br />
    @Model.Title
    <br />
    @html
</body>
</html>
