<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  
  
  <!--<configSections>
    <section name="razorEngine" type="RazorEngine.Configuration.RazorEngineConfigurationSection, RazorEngine" requirePermission="false" />
  </configSections>

  <razorEngine factory="RazorEngine.Web.WebCompilerServiceFactory, RazorEngine.Web"  />-->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".html" type="RazorEngine.Web.CSharp.CSharpRazorBuildProvider, RazorEngine.Web" />
        <add extension=".cshtml" type="RazorEngine.Web.CSharp.CSharpRazorBuildProvider, RazorEngine.Web" />
        <add extension=".vbhtml" type="RazorEngine.Web.VisualBasic.VBRazorBuildProvider, RazorEngine.Web" />
      </buildProviders>
    </compilation>
    
    
    <!--<compilation>
      <assemblies>
        <add assembly="OrionMvc" />
        <add assembly="OrionMvc.Web" />
        <add assembly="System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

      </assemblies>
      <buildProviders>

        -->
    <!--<add extension=".cshtml"
            type="System.Web.WebPages.Razor.RazorBuildProvider" />
        
        <add extension=".html" 
             type="System.Web.Compilation.PageBuildProvider"/>-->
    <!--
      </buildProviders>
    </compilation>-->
    <httpHandlers>
      <clear />
      <add path="favicon.ico" verb="*" type="System.Web.StaticFileHandler" />
      <clear />
      <add verb="*" path="*" type="OrionMvc.Web.HttpHandler, OrionMvc" />
    </httpHandlers>
    <httpModules>
      <!--<add name="OrionMvc.Web.OrionHttpModule" type="OrionMvc.Web.OrionHttpModule,OrionMvc"/>-->
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="OrionMvc" />
        <add namespace="OrionMvc.Web" />
        <!--<add namespace="OrionMvc.Helper"/>-->
      </namespaces>
    </pages>
  </system.web>

</configuration>